table {
  width: 100%;
  padding: 10px 40px 0px 15px;
  box-shadow: none;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.mat-elevation-z8 {
  padding: 27px 305px 0px 305px;
}
.Req-fields {
  margin-right: 30px;
}
.option-lable {
  margin-left: 10px;
}
.align-value {
  margin-top: 10px;
}
.title {
  font-weight: 1000;
  font-size: 20px;
}
.save-additional-property {
  float: right;
  margin-right: 20px;
}
