.node_name {
    text-align: center;
}

.meta-data {
    text-align: center;
    padding-top: 25px;
}

.meta {
    margin-right: 50px;
}

.Req-fields {
    margin-right: 50px;
}

.Properties-heading {
    padding-left: 25%;
    font-size: 20px;

    .fa-trash {
        padding-right: 20%;
    }
}