<div *ngIf="connectionData">
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutGap.xs="0">
        <div fxFlex="50%">
            <mat-form-field appearance="outline" class="form_field text form-field-wrapper">
                <mat-label translate>ADD-EDIT-CONNECTION-POPUP.HOST-NAME</mat-label>
                <input matInput type="text" name="bucket-name" [(ngModel)]="connectionData.hostName"
                    (keydown.enter)="$event.preventDefault();" trim="blur">
                <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="connectionData.hostName=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="outline" class="form_field text form-field-wrapper">
                <mat-label translate>ADD-EDIT-CONNECTION-POPUP.PORT</mat-label>
                <input matInput type="text" name="bucket-name" [(ngModel)]="connectionData.port"
                    (keydown.enter)="$event.preventDefault();" trim="blur">
                <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="connectionData.port=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutGap.xs="0">
        <div fxFlex="50%">
            <mat-form-field appearance="outline" class="form_field text form-field-wrapper">
                <mat-label translate>ADD-EDIT-CONNECTION-POPUP.USERNAME</mat-label>
                <input matInput type="text" name="user-name" [(ngModel)]="connectionData.username"
                    (keydown.enter)="$event.preventDefault();" trim="blur" autocomplete="new-password">
                <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="connectionData.username=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="outline" class="form_field text form-field-wrapper">
                <mat-label translate>ADD-EDIT-CONNECTION-POPUP.PASSWORD</mat-label>
                <input matInput type="password" name="password"  [(ngModel)]="connectionData.password"
                    (keydown.enter)="$event.preventDefault();" trim="blur" autocomplete="new-password">
                <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="connectionData.password=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>
