@import "./../shared/styles/colors.scss";
@import "./../shared/styles/layout.scss";

:host {
  .dialog {
    .dialog-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid $border_color;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;

      .dialog-title {
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.5;
        font-size: 21px;
      }
    }
    .dialog-body {
      position: relative;
      width: 100%;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1rem;
      margin: 0;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .dialog-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 1rem;
      border-top: 1px solid $border_color;
    }
  }
}
.table-references{
  max-width: 30rem;

}
.mat-column-b-id, .mat-column-o-id{
  padding-right: 2rem;
}
