<div class="welcome-container">
    <div class="left-container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" id="left-container">
        <img src="assets/images/integration.png" alt="logo" />
    </div>
    <div class="right-container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" id="right-container">
        <div class="header">
            <h2>Welcome to Volkswagen Integration</h2>
        </div>
        <div class="welcome-content">
            <div class="welcome-content-left">
                <p>Your Volkswagen Integration Application allows you to customize various elements of your integrations, allowing flexibility to add new Groups and Markets, enable or disable organizations, and map GRP roles to your LMS security roles.</p>
                <p>If you have any questions or concerns, Please contact <a href="mailto:support@sapper.ai">support@sapper.ai</a>
                </p>
                <div>
<!--                    <button mat-stroked-button class="sapper-button" (click)="router.navigateByUrl('/appstore')">Go-->
<!--                        To App Store</button>-->
<!--                    <button mat-stroked-button class="sapper-button" (click)="router.navigateByUrl('/automation')">Create-->
<!--                        Automation</button>-->
                </div>
            </div>
            <div class="welcome-content-right">
                <img src="assets/images/vw-logo.jpg" alt="logo" />
            </div>
        </div>
    </div>
</div>
