$body_bg: rgba(0, 0, 0, .03);
$text-muted: #909fa7;
$white: #ffffff;
$grey_white: #fafafa;
$black: #000000;
$black_light: #222;
$black_lighter:rgba(0, 0, 0, .10);
$silver: silver;
$grey: grey;
$red:red;
$text-danger:#f44336;
$orange:#FF7C47;
$olive_green:#07AA7B;
$success: green;
$dark_red: #e60808;
$blue_lighter:#3c97bf;
$dashboard_application_round:#3eb5bf;
$blue_light: rgb(32, 97, 233);
$blue_lightest:#2061e9;
$active_blue: #3f51b5;
$active_menu_bg:#2929a5;
$blue_dark:rgb(3, 11, 92);
$blue_darker: #030b5c;
$navy_blue:#1C236C;
$dark_grey: #333;
$medium_light-gray: #999999;
$grey_lightest: #b1b1b1;
$node_action_border:#e8e8e8;
$grey_darker:#7d7b7b;
$medium_gray: #8a8888;
$gray_light:#f4f3f4;
$gray_semi_light: #e7e7e7;
$lightgray: lightgray;
$light_orange: #f5c27f;
$light_green: #b3f3b6;
$sky_blue: #bee4e9;
$purple: #d6bcd8;
$workflow-background: #b5b5b5;
$sapper_btn:#2061e9;
$facebook_color: #3b5999;
$facebook_color_left_shadow: #2e4a86;
$facebook_color_bottom_shadow: #4a69ad;
$linkedin_color: #0077B5;
$linkedin_color_left_shadow: #036aa0;
$linkedin_color_bottom_shadow: #0d82bf;
$google_color: #dd4b39;
$google_color_left_shadow: #c13929;
$google_color_bottom_shadow: #e8432e;
$dashboard-workflow-round-fill:#ebedf7;
$dashboard-success-round-fill:#e6f6f1;
$dashboard-error-round-fill:#fce6e6;
$dashboard-warning-round-fill:#fff1ec;
$border_color: rgba(0, 0, 0, .12);
$box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
0 7px 10px -5px rgba(0, 0, 0, 0.2);
$card-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2),
0 7px 10px -5px rgba(0, 0, 0, 0);
$table_header_bg: linear-gradient(60deg, $blue_dark, $blue_light);
$table_header_box_shadow: linear-gradient(60deg, $blue_dark, $blue_light);
$login_container_shadow:rgba(0, 0, 0, 0.22);
$login_container_shadow_dark: rgba(0, 0, 0, 0.25);
$panel_heading_shadow: rgba(0, 0, 0, 0.12);
$delete_red: #c70000;
$lavender:#e6e6fa;