::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.3em 0 0.5em 0 !important;
}

::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
}

::ng-deep .mat-form-field {
  line-height: normal;
}

::ng-deep .mat-select-arrow-wrapper {
  vertical-align: initial !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}

::ng-deep .mat-form-field-suffix {
  .mat-icon-button {
    width: 2em !important;
    height: 2em !important;
    top: -3px;
    right: -8px;

    .mat-icon {
      font-size: 120%;
    }
  }
}
