<sapper-page-header class="set-margin" [title]="'MARKET-GROUPS.PAGE-HEADER' | translate" [description]="'MARKET-GROUPS.PAGE-DESCRIPTION' | translate"></sapper-page-header>
<div class="connections-container">
    <div class="create-connection" fxLayout="row" fxLayoutAlign="end start">
      <button *ngIf="isAdmin"  mat-stroked-button class="sapper-button" (click)="openCreateConnectionDialog()">Add new Market Group</button>
    </div>
    <div class="connection-table" fxLayout fxLayout.xs="column" fxLayoutGap.xs="0">
        <div class="card card-table">
            <div class="card-table-header padding-20">
              <h3 class="margin-0" translate>{{ 'MARKET-GROUPS.TABLE-HEADER' }}</h3>
            </div>
            <div class="empty-connection-list" *ngIf="connectionList && connectionList.length === 0">
              <mat-card class="empty-data-card" fxLayout="column" fxLayoutAlign="center center">
                <div fxFlex="50%">
                  <img class="empty-image" src="assets/images/empty-connection.png" alt="empty-list">
                </div>
                <mat-card-content fxFlex="50%" class="content">
                  <p class="text-muted"> No connections created yet!!! </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="margin-15"  style="text-align: center;" *ngIf="connectionList && connectionList.length > 0">
                    <p-table #dt [value]="connectionList" styleClass="p-datatable-connectionList" [rowHover]="true"
                             [rows]="10" [showCurrentPageReport]="true" [globalFilterFields]="['groupName','brands','orgTypes','active']" [rowsPerPageOptions]="pageSizeOptions" [loading]="loading"
                             [paginator]="connectionList.length >= 10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [autoLayout]="true">
                      <ng-template pTemplate="caption">
                        <div style="text-align: right">
                          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th scope="col" [pSortableColumn]="'groupName'" translate pResizableColumn>{{ 'MARKET-GROUPS.T-HEADER1' }} <p-sortIcon></p-sortIcon></th>
                          <th scope="col" [pSortableColumn]="'brands'" translate pResizableColumn>{{ 'MARKET-GROUPS.T-HEADER2' }} <p-sortIcon></p-sortIcon></th>
                          <th scope="col"  [pSortableColumn]="'orgTypes'" translate pResizableColumn>{{ 'MARKET-GROUPS.T-HEADER5' }} <p-sortIcon></p-sortIcon></th>
                          <th scope="col" [pSortableColumn]="'active'" translate pResizableColumn>{{ 'MARKET-GROUPS.T-HEADER3' }} <p-sortIcon></p-sortIcon></th>
                          <th scope="col" translate pResizableColumn>{{ 'MARKET-GROUPS.T-HEADER4' }}</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-connection>
                        <tr [pSelectableRow]="connection">
                          <td>{{connection.groupName + ' (' + connection.groupId + ')'}}</td>
                          <td> {{separateString(connection.brands)}}</td>
                          <td> {{separateString(connection.orgTypes)}}</td>
                          <td>{{connection.active? 'Active': 'Inactive'}}</td>
                          <td class="icons">
                                <mat-icon  class="edit-icon margin-right-10"
                                matTooltip="{{ 'MARKET-GROUPS.EDIT' | translate }}"
                                (click)="openPopUp(connection)">edit</mat-icon>
                            <mat-icon class="home-icon margin-right-10"
                                      matTooltip="Role mapping"
                                      (click)="openRoleMapping(connection.groupId)">assignment_ind</mat-icon>
                            <mat-icon class="people-icon margin-right-10"
                                      matTooltip="{{ 'MARKET-GROUPS.ORGANIZATION' | translate }}"
                                      (click)="openOrganization(connection.groupId)">layers</mat-icon>
                            <mat-icon class="home-icon margin-right-10"
                                      matTooltip="{{ 'MARKET-GROUPS.MARKET' | translate }}"
                                      (click)="openMarkets(connection.groupId)">business</mat-icon>
<!--                                <mat-icon *ngIf="isAdmin" class="delete-icon"-->
<!--                                matTooltip="{{ 'MARKET-GROUPS.DELETE' | translate }}"-->
<!--                                (click)="deleteConnection(connection.groupId)">delete</mat-icon>-->
                          </td>
                        </tr>
                      </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
