@import '../../shared/styles/colors.scss';
@import '../../shared/styles/material-styles.scss';

$sapper-img: url("/assets/images/sapper-background.jpeg");

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: $sapper-img;
  background-size: cover;

  .container {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 14px 28px $login_container_shadow_dark,
      0 10px 10px $login_container_shadow;
    position: relative;
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    min-height: 480px;
    border-top: 4px solid $blue_lighter;
    text-align: center;

    .content {

      .form-field {
        width: 65%;
        margin-top: 20px;
      }

      .sapper-button {
        margin-top: 10px;
        background-color: #2061e9 !important;
        color: white !important;
      }
    }

    .forgot-password-image {
      width: 60%;
      height: auto;
      opacity: 0.8;
      margin-bottom: 15px;
    }
  }
  .btn {
    margin-left: 20px;
  }
}
