<div class="forgot-password-container">
  <div class="container">
    <div class="header">
      <h3>Forgot Password?</h3>
    </div>
    <div>
      <img class="forgot-password-image" src="assets/images/authentication/forgot-password.png" alt="envelope" />
    </div>
    <span class="">If you have forgotten your password, you can reset it here.</span>
    <div class="content">
      <div>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Business Email</mat-label>
          <input matInput id="email" type="text" trim="blur" name="email" [(ngModel)]="forgotPasswordData.businessEmail" required>
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button mat-stroked-button class="sapper-button" (click)="getNewPassword(forgotPasswordData)">Send</button>
        <button mat-stroked-button class="sapper-button btn" (click)="router.navigateByUrl('/login')">Cancel</button>
      </div>
    </div>
  </div>
</div>
