@import "./../shared/styles/colors.scss";

.marketplace-container {
  .page-header {
    background: #fff;
    padding-bottom: 18px;
    padding-top: 15px;

    .page-header-content {
      padding: 0 15px;

      .page-header-main {
        .page-header-title {
          margin: 2px;
          color: $blue_darker;
        }

        .page-header-subtitle {
          color: #637a87;
          font-size: 14px;
          margin: 5px 0 3px;
          padding: 0;
        }
      }
    }
  }

  .content {
    padding: 0 15px;

    .item {
      height: 100%;

      &.item-1 {
        margin-right: 0 !important;

        .header-title {
          padding-left: 0;
        }

        .filter-content {
          padding-right: 5px;
        }

        .domain {
          padding: 5px 0;
          font-size: 15px;
          &:hover {
            font-weight: bold;
          }
          span {
            cursor: pointer;
          }
          ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
            text-overflow: ellipsis !important;
            overflow: hidden !important;
            white-space: nowrap !important;
            width: 175px !important;
            display: block !important;
          }
        }

        ::ng-deep .mat-form-field-infix {
          border: 0;
        }
      }

      &.item-2 {
        border-left: 1px solid $border-color;

        .all_applications {
          width: 100%;
          height: 100%;
          .apps_content {
            display: block;
            overflow: hidden;
            padding: 0 15px;
          }

          .selected-apps {
            padding: 0 15px;
            overflow: hidden;
            .list {
              width: 75%;
              float: left;
            }
            .workflow-btn {
              float: right;
            }
          }

          .application-list {
            list-style-type: none;
            margin-top: 20px;
            padding-left: 15px;

            li {
              display: inline-block;
              margin: 0 44px 20px 0;
              vertical-align: top;
              text-align: center;
              width: 110px;
              cursor: pointer;
            }

            .application-image {
              width: 110px;
              height: 110px;
              border: 1px solid $border_color;
              box-shadow: $box-shadow;
              border-radius: 10px;
              padding: 8px;
              margin-bottom: 10px;
            }

            span {
              display: block;
              text-align: center;
            }
          }
        }
      }

      .header-title {
        padding-bottom: 10px;
        float: left;
        &.categories {
          float: none;
        }
      }
      .search_app {
        float: right;
        width: 300px;
      }
    }

    .fa-info-circle {
      font-size: 15px;
    }

    .right_panel {
      border-left: 1px solid $border_color;
    }

    mat-chip-list {
      mat-chip {
        padding-right: 17px;

        .selected_app {
          width: 15px;
          margin-right: 10px;
        }

        .fa-close {
          position: relative;
          right: -5px;
        }
      }
    }

    .workflow_container {
      .workflow_header {
        margin-bottom: 15px;
        margin-left: 15px;
      }

      .wf_content {
        padding: 0 15px 15px 15px;
        height: 100vh;
      }

      .no_workflows {
        align-items: center;
        text-align: center;
        padding: 15px;

        span {
          display: block;
          margin: 0 auto 15px;
        }

        button {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .related-workflow {
      padding: 0px;
      margin: 0px;
      list-style-type: none;

      li {
        padding: 10px;
        border: 1px solid $lightgray;
        margin-bottom: 15px;
        box-shadow: $box-shadow;
        border-radius: 10px;
        background-color: $white;
      }

      .workflow_details {
        .workflow_name,
        .workflow_description {
          display: block;
        }

        .workflow_name {
          font-weight: bold;
          font-size: 16px;
        }

        .workflow_description {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .workflow_images {
          width: 30px;
          margin-right: 10px;
        }
      }

      .button_container {
        align-items: center;
        margin-right: 5px;
        display: flex;
      }
    }
  }

  .community-workflow-icon {
    position: fixed;
    bottom: 45vh;
    right: -103px;
    transform: rotate(270deg);
    height: 50px;
    padding-bottom: 15px;
    cursor: pointer;
  }
}
