@import "./../../shared/styles/colors.scss";

:host {
  min-height: calc(100vh - 90px);
  .page-header {
    background: #fff;
    padding-bottom: 18px;
    padding-top: 15px;

    .page-header-content {
      padding: 0 15px;

      .page-header-main {
        .page-header-title {
          margin: 2px;
          color: $blue_darker;
        }

        .page-header-subtitle {
          color: #637a87;
          font-size: 14px;
          margin: 5px 0 3px;
          padding: 0;
        }
      }
    }
  }
  .workflow-listing-container {
     padding: 20px;
    .workflow-actions {
      margin-bottom: 15px;

      .listing-search {
        & mat-form-field {
          display: inline;
        }
      }
    }
    .empty-workflow-list {
      margin: auto;

      .empty-data-card {
        background: none;
        box-shadow: none;

        .empty-image {
          width: 40%;
          margin-left: 30%;
          opacity: 0.5;
        }

        .content {
          text-align: center;
          color: $grey_darker;

          a {
            cursor: pointer;
          }
        }
      }
    }
  }
  // .create-workflow-icon {
  //   position: fixed;
  //   bottom: 10px;
  //   right: 10px;
  // }
}

