<div class="container">

    <!-- Modal for rendering the charts, declare this if you want to render charts, 
     else you remove the modal -->
    <!-- <div id="modal1" class="modal">
        <canvas id="modal-chart"></canvas>
    </div> -->

    <!--chatbot widget -->
    <div class="widget" *ngIf="showWidget">
        <div class="chat_header">
            <!--Add the name of the bot here -->
            <span class="chat_header_title">Sapper.ai</span>
            <span class="dropdown-trigger" (click)="showWidget = false">
              <i class="material-icons">
              close
              </i>
           </span>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats" #chats>
            <div class="clearfix"></div>
        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
            <textarea placeholder="Type a message..." class="usrInput" trim="blur"
                (keyup.enter)="sendMessage($event)" [(ngModel)]="userInput"></textarea>
            <div id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
        </div>
    </div>

    <!--bot profile-->
    <div class="profile_div" id="profile_div" (click)="openChatWindow()">
        <img class="imgProfile" src="assets/images/botAvatar.png" />
    </div>

    <!-- Bot pop-up intro -->
    <!-- <div class="tap-target" data-target="profile_div">
        <div class="tap-target-content">
            <h5 class="white-text">Hey there 👋</h5>
            <p class="white-text">I can help you get started with Rasa and answer your technical questions.</p>
        </div>
    </div> -->

</div>