<div class="reset-password-container">
  <div class="container">
    <div class="header">
      <h3>{{getTitle()}}</h3>
    </div>
    <span *ngIf="resetTextFlag==='true'" class="">You have been issued with a temporary password. You have to change it
      to keep your account safe.</span>

    <div class="content" fxLayout="row">
      <form action="#" class="form-validate" role="form" name="resetPasswordForm" [formGroup]="resetPasswordForm">
        <div fxFlex="30%">
          <img class="reset-password-image" src="assets/images/authentication/reset-password.png" alt="envelope" />
        </div>
        <div fxFlex="70%">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Current Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="resetPasswordData.currentPassword"
              formControlName="currentPassword" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)">
            <span class="text-danger" *ngIf="currentPassword.errors.required">Current password is required</span>
          </div>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="resetPasswordData.newPassword"
              formControlName="newPassword" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="text-align" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
            <span class="text-danger" *ngIf="newPassword.errors.pattern">{{getPatternMsg()}}</span>
          </div>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="resetPasswordData.confirmPassword"
              formControlName="confirmPassword" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="confirmPassword.dirty || confirmPassword.touched">
            <span class="text-danger">
              {{checkPasswords()}}
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class='reset-button'>
      <button mat-stroked-button class="sapper-button btn1"
        (click)="resetPassword(resetPasswordData)">{{getBtnLabel()}}</button>
      <button mat-stroked-button class="sapper-button btn" (click)="location.back()">Cancel</button>
    </div>
  </div>
</div>
