<div class="password-policy-container">
  <form [formGroup]="passwordPolicyForm" class="form-validate" role="form" name="passwordPolicyForm" novalidate="">
    <h3>Password Policy</h3>
    <div fxLayout fxLayout.xs="column" fxLayoutGap="15px" fxLayoutGap.xs="0">
      <div fxFlex="50%" class="form-field-wrapper">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Disallow password limit</mat-label>
          <input matInput class="form-control" type="number" name="passwordLimit" formControlName="passwordLimit"
            [(ngModel)]="passwordPolicies.oldPasswordLimit" [matTooltip]="getCompanyNameError()"
            matTooltipClass="error-tooltip" required>
        </mat-form-field>
        <div *ngIf="passwordLimit.errors && (passwordLimit.dirty || passwordLimit.touched)">
          <span class="text-danger" *ngIf="passwordLimit.errors.max">Max limit is 10.</span>
        </div>
      </div>
      <div fxFlex="50%" class="form-field-wrapper">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Password expiration Time (in days)</mat-label>
          <input matInput class="form-control" type="number" name="passwordExpiry" formControlName="passwordExpiry"
            [(ngModel)]="passwordPolicies.passwordExpiryDays" [matTooltip]="getCompanyNameError()"
            matTooltipClass="error-tooltip" required>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutGap.xs="0">
      <div fxFlex="50%" class="form-field-wrapper">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Lockout Attempt Limit</mat-label>
          <input matInput class="form-control" type="number" name="lockoutAttempt" formControlName="lockoutAttempt"
            [(ngModel)]="passwordPolicies.failedAttemptLimit" [matTooltip]="getCompanyNameError()"
            matTooltipClass="error-tooltip" required>
        </mat-form-field>
        <div *ngIf="lockoutAttempt.errors && (lockoutAttempt.dirty || lockoutAttempt.touched)">
          <span class="text-danger" *ngIf="lockoutAttempt.errors.min">Min limit is 3.</span>
          <span class="text-danger" *ngIf="lockoutAttempt.errors.max">Max limit is 10.</span>
        </div>
      </div>
      <div fxFlex="50%" class="form-field-wrapper">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Lockout Time (in Minutes)</mat-label>
          <input matInput class="form-control" type="number" name="lockoutTime" formControlName="lockoutTime"
            [(ngModel)]="passwordPolicies.failedAttemptTime" [matTooltip]="getCompanyNameError()"
            matTooltipClass="error-tooltip" required>
        </mat-form-field>
        <div *ngIf="lockoutTime.errors && (lockoutTime.dirty || lockoutTime.touched)">
          <span class="text-danger" *ngIf="lockoutTime.errors.min">Min limit is 2.</span>
          <span class="text-danger" *ngIf="lockoutTime.errors.max">Max limit is 10.</span>
        </div>
      </div>
    </div>
    <div class="form-field-wrapper">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password regex</mat-label>
        <input matInput class="form-control" type="text" name="passwordRegex" formControlName="passwordRegex"
          [(ngModel)]="passwordPolicies.passwordRegex" [matTooltip]="getCompanyNameError()"
          matTooltipClass="error-tooltip" required>
      </mat-form-field>
      <div *ngIf="passwordRegex.errors && (passwordRegex.dirty || passwordRegex.touched)">
        <span class="text-danger" *ngIf="passwordRegex.errors.required">Password regex field is required</span>
      </div>
    </div>
    <div class="form-field-wrapper">
      <mat-form-field appearance="outline" class="form_field text">
        <mat-label>Error message for Incorrect password</mat-label>
        <textarea class="textarea-content" matInput name="regexMsg" autocomplete="off" formControlName="regexMsg"
          [(ngModel)]="passwordPolicies.passwordErrorMessage"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
