@import "../../shared/styles/material-styles.scss";
@import "../../shared/styles/layout.scss";

:host {
  .password-policy-container {
    padding: 0px 20px 20px 30px;

    .form-field-wrapper {
      margin-bottom: 10px;
      .form-field {
        width: 100%;
      }
    }
  }
}
