<div class="dialog">
  <div class="dialog-header">
    <h4 mat-dialog-title class="dialog-title float-left" translate>Advanced Filters</h4>
  </div>
  <mat-dialog-content class="dialog-body">
    <button mat-button class="sapper-button" (click)="addFilter()">Add +</button>

    <div class="grid-table" *ngFor="let row of rowsFilterCount">
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-select disableRipple [(ngModel)]="row.Filter">
          <mat-option value="brand">brand</mat-option>
          <mat-option value="status">status</mat-option>
          <mat-option value="market">market</mat-option>
          <mat-option value="marketGroup">marketGroup</mat-option>
          <mat-option value="active">active</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Comparative</mat-label>
        <mat-select disableRipple [(ngModel)]="row.Comparative">
          <mat-option value="eq">Equal</mat-option>
          <mat-option value="neq">Not Equal</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <input matInput placeholder="To" [(ngModel)]="row.With">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <div class="dialog-footer">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true"  class="sapper-button" cdkFocusInitial (click)="save()">Search</button>
  </div>
</div>
